__pycache__/
.vscode/
backend/.pytest_cache/
backend/app/__pycache__/
backend/env/
backend/.dockerignore
frontend/.pytest_cache/
frontend/app/__pycache__/
frontend/env/
frontend/.dockerignore
docker-compose2.yml